body {
  color: rgb(220, 136, 69);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#cabecera {
  background: rgb(76, 15, 174);
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
  padding: 0.7em;
}
#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: 400;
  font-size: 0.7em;
}
#container {
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}
#container h1 {
  font-size: 30px;
}
#post {
  padding: 1em;
}

#footer23{
  background: rgb(73, 12, 134);
  color: white;
  text-align: center;
  padding: 1em;
}

p {
  color: rgb(63, 62, 60);
  font-size: 22px;
}

#footer{
  background: rgb(73, 12, 134);
  color: white;
  text-align: center;
  padding: 1em;
}
