    <h1>Tu no eres bebesita, tu eres bebesota</h1>
    <ul>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/about">Acerca de Nosotros</a>
        </li>
        <li>
            <a href="/edit">Editar</a>
        </li>
    </ul>